page-booking-confirmed {
  .header{
    ion-col{
      display: flex;
      justify-content: space-between;
    }
  }
  .cancel{
    color: color($colors, danger);
    cursor: pointer;
  }
  h2{
    color: color($colors, primary);
    font-weight: 700 !important;
    margin: 0;
  }
  .center-align{
    text-align: center;
  }
  .day, .month, .time, .date{
    text-align: center;
    font-weight: 500;
    margin: 0;
  }
  .day, .time{
    color: color($colors, primary);
  }
  .day, .time{
    font-size: 16px;
    line-height: 16px;
  }
  .date, .month{
    font-size: 22px;
    line-height: 32px;
  }
  .month{
    margin-left: 3px;
  }
  .dateMonth{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bookingDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-size: 32px;
      line-height: 32px;
      color: color($colors, primary);
    }
    ion-icon{
      font-size: 28px;
      color: #ccc;
    }
  }
  .restaurant{
    text-align: center;
    color: color($colors, primary);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  .field-title, .address{
    color: lighten(color($colors, dark), 60%);
    margin: 0;
  }
  .field-content{
    margin: 0;
  }
  .completed, .tooClose{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .completed{
    color: color($colors, secondary);
  }
  .tooClose{
    color: color($colors, danger);
  }
  .redeem{
    h2{
      opacity: 0;
      color: color($colors, secondary);
      text-align: center;
      &.redeemed{
        opacity: 1;
      }
    }
    .redeem-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        margin-bottom: 6px;
      }
      .redeem-liner{
        position: relative;
        width: 50%;
        padding-top: 50%;
        align-items: center;
        .geolocate-indicator{
          position: absolute;
          top: 12%;
          left: 12%;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          &.orange{
            background: color($colors, danger);
            box-shadow: 0 0 4px #1C1C17, 0 0 5px lighten(color($colors, danger), 20%);
          }
          &.green{
            background: color($colors, tertiary);
            box-shadow: 0 0 4px #1C1C17, 0 0 5px lighten(color($colors, tertiary), 20%);
          }
        }
        button{
          margin: 0;
          border-radius: 20px;
          width:100%;
          height:100%;
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: color($colors, primary);

          &.redeemed{
            background-image: linear-gradient(to right, color($colors, primary) 0%, lighten(color($colors, secondary), 10%) 20%, color($colors, primary) 40%, color($colors, primary) 100%);
            background-repeat: no-repeat;
            background-size: 400% 100%;

            -webkit-animation-duration: 2.5s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: placeholderShimmer;
            -webkit-animation-timing-function: linear;
          }


          .button-inner{
            flex-wrap: wrap;
            div{
              width: 100%;
              color: #fff;
              font-weight: 700;
              font-size: 16px;
              margin: 3px 0;
            }
            img{
              width: 80%;
            }
          }
        }
        @-webkit-keyframes placeholderShimmer {
          0% {
            background-position: 100% 0;
          }

          100% {
            background-position: -100% 0;
          }
        }
      }
    }
  }
}
