.secure-prompt{
  ion-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-size: 12px;
    }
  }
}

.present-text{
  padding: 0 12px;
  text-align: center;
  font-weight: 700;
  color: color($colors, medium);
}

.no-results{
  margin-top: 40px;
}
