page-confirm-booking {
  h2{
    font-weight: 700 !important;
    text-align: center;
    margin: 0;
  }
  p{
    text-align: center;
    margin: 0 !important;
  }
  .form-error{
    margin-top: 6px;
    text-align: center;
    color: color($colors, danger);
  }
  .title{
    color: lighten(color($colors, dark), 50%);
  }
  .day, .month, .time, .discount, .seats, .date{
    font-family: "Quicksand";
    font-weight: 500;
  }
  .day, .month, .time, .discount, .seats{
    color: color($colors, primary);
  }
  .day, .month, .time{
    font-size: 16px;
    line-height: 16px;
  }
  .date, .discount, .seats{
    font-size: 32px;
    line-height: 32px;
  }
  ion-icon{
    transition: all 0.2s;
    &.invalid {
      color: color($colors, danger) !important;
    }
  }
  ion-input{
    input[disabled]{
      opacity: 1 !important;
    }
  }
}
