<!--
  Generated template for the ConfirmBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Confirm Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border-bottom">
          <ion-col align-self-center>
            <h2>{{restaurant.name}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="no-margin align-center" col-4>
            <p class="title">Date</p>
          </ion-col>
          <ion-col class="no-margin align-center" col-4>
            <p class="title">Discount</p>
          </ion-col>
          <ion-col class="no-margin align-center" col-4>
            <p class="title">Seats</p>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col class="no-margin align-center" align-self-center col-4>
            <p class="month">{{dateObject.month}}</p>
            <p class="date">{{dateObject.date}}</p>
          </ion-col>
          <ion-col class="no-margin align-center" col-4>
            <p class="time">{{functions.formatClockTime(timeslot.time, true)}}</p>
            <p class="discount">-{{timeslot.discount}}%</p>
          </ion-col>
          <ion-col class="no-margin align-center" col-4>
            <p class="seats">{{people}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form [formGroup]="bookingForm" (ngSubmit)="confirm()">
              <ion-item class="border-bottom">
                <ion-label fixed><ion-icon name="person" [ngClass]="{'invalid': !bookingForm.controls.name.valid && (bookingForm.controls.name.dirty || bookingForm.controls.name.touched)}"></ion-icon></ion-label>
                <ion-input placeholder="Full Name" [formControl]="bookingForm.controls['name']" [disabled]="user.active == 1"></ion-input>
              </ion-item>
              <ion-item class="border-bottom">
                <ion-label fixed><ion-icon name="call" [ngClass]="{'invalid': !bookingForm.controls.phone.valid && (bookingForm.controls.phone.dirty || bookingForm.controls.phone.touched)}"></ion-icon></ion-label>
                <ion-input placeholder="Phone Number" mask="(***) ***-****" type="tel" [formControl]="bookingForm.controls['phone']" [disabled]="user.active == 1"></ion-input>
              </ion-item>
              <ion-item class="border-bottom">
                <ion-label fixed><ion-icon name="mail" [ngClass]="{'invalid': !bookingForm.controls.email.valid && (bookingForm.controls.email.dirty || bookingForm.controls.email.touched)}"></ion-icon></ion-label>
                <ion-input placeholder="Email" [formControl]="bookingForm.controls['email']" [disabled]="user.active == 1"></ion-input>
              </ion-item>
              <div class="form-error" *ngIf="(bookingForm.controls.name.hasError('required') && bookingForm.controls.name.touched) || (bookingForm.controls.phone.hasError('required') && bookingForm.controls.phone.touched) || (bookingForm.controls.email.hasError('required') && bookingForm.controls.email.touched)">
                <span>Please fill in all the fields.</span>
              </div>
              <div class="form-error" *ngIf="(bookingForm.controls.name.hasError('pattern') && bookingForm.controls.name.touched ) || (bookingForm.controls.phone.hasError('pattern') && bookingForm.controls.phone.touched) || (bookingForm.controls.email.hasError('pattern') && bookingForm.controls.email.touched)">
                <span>There is an error in the form.</span>
              </div>
              <button ion-button block color="secondary" type="submit">Confirm</button>
            </form>
            <button ion-button block clear color="danger" (click)="cancel()">Cancel</button>
            <p class="terms">By clicking confirm you agree to eatibl's terms and conditions and privacy policy.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
