<!--
  Generated template for the RestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{restaurant?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="isLoaded">
    <div *ngIf="distance" class="distance">
      <p>{{distance}}</p>
    </div>
    <div class="featured-image" [style.background-image]="'url(assets/imgs/placeholder-food.jpg)'"
         *ngIf="!restaurant?.featuredImage"></div>
    <ion-slides *ngIf="restaurant?.featuredImage" paginationType="bullets" pager="true">
      <ion-slide *ngFor="let image of orderedImgArray; let i = index">
        <div class="featured-image" [style.background-image]="image"></div>
      </ion-slide>
    </ion-slides>
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border-bottom">
          <ion-col col-9 align-self-stretch class="first-row border-right">
            <h2>{{restaurant?.name}}</h2>
            <p class="tags"><span *ngFor="let category of restaurant?.categories; let i = index">{{category}}<span *ngIf="i < restaurant.categories.length - 1">, </span></span></p>
            <p *ngIf="open?.open" class="open"><span>Open Now</span> {{functions.formatClockTime(businessHours[open.index][2], true)}} - {{functions.formatClockTime(businessHours[open.index][3], true)}}</p>
            <p *ngIf="!open?.open" class="closed"><span>Closed</span></p>
          </ion-col>
          <ion-col col-3 nowrap align-self-stretch class="align-center first-row vertical-align-col">
            <p class="rating"><ion-icon name="star"></ion-icon>4.7</p>
            <div class="price">

              <p [ngClass]="restaurant?.price >= 1 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant?.price >= 2 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant?.price >= 3 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant?.price == 4 ? 'active' : ''">$</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col>
              <ion-item class="border-bottom">
                <ion-label fixed><ion-icon name="calendar"></ion-icon></ion-label>
                <ion-datetime placeholder="Today" todayText="Today" [min]="today" [max]="maxDate" [(ngModel)]="date" (ionChange)="processTimeslots(); processBusinessHours()"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label fixed><ion-icon name="people"></ion-icon></ion-label>
                <ion-select [(ngModel)]="people">
                  <ion-option value="1">1 person</ion-option>
                  <ion-option value="2">2 people</ion-option>
                  <ion-option value="3">3 people</ion-option>
                  <ion-option value="4">4 people</ion-option>
                  <ion-option value="5">5 people</ion-option>
                  <ion-option value="6">6 people</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom no-padding-row">
          <ion-col col-1 class="no-padding-col">
            <button [disabled]="isBeginning" class="slide-button" *ngIf="timeslots.length" ion-button color="light" (tap)="prevSlide()"><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col col-10 class="no-padding-col">
            <ion-slides #slides *ngIf="timeslots.length" slidesPerView="4" (ionSlideDidChange)="slidePosition()" (ionSlideWillChange)="slidePosition()">
              <ion-slide *ngFor="let timeslot of timeslots">
                <div class="timeslot">
                  <p [ngClass]="{'active' : activeTimeslot?._id == timeslot?._id && activeTimeslot?.quantity >= people}">{{functions.formatClockTime(timeslot.time, true)}}</p>
                  <button ion-button color="primary" [disabled]="timeslot?.quantity < people" [ngClass]="{'active' : activeTimeslot?._id == timeslot?._id}" (click)="selectBooking(timeslot)">-{{timeslot?.discount}}%</button>
                </div>
              </ion-slide>
            </ion-slides>
            <div *ngIf="!timeslots.length" class="no-timeslots">
              <p>Closed</p>
            </div>
          </ion-col>
          <ion-col col-1 class="no-padding-col">
            <button [disabled]="isEnd" class="slide-button" *ngIf="timeslots.length" ion-button color="light" (tap)="nextSlide()"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <button ion-button block color="secondary" [disabled]="!activeTimeslot || activeTimeslot?.quantity < people" (click)="bookNow($event, restaurant, activeTimeslot, people, date)">Book Now</button>
        </ion-row>
      </ion-grid>
      <div class="details">
        <ion-segment [(ngModel)]="type">
          <ion-segment-button value="about">
            About
          </ion-segment-button>
          <ion-segment-button value="menu">
            Menu
          </ion-segment-button>
          <ion-segment-button value="map" (ionChange)="loadMap()">
            Map
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="type">
        <ion-grid *ngSwitchCase="'about'">
          <ion-row>
            <ion-col>
              <p>{{restaurant?.description}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <p class="header">Hours:</p>
            </ion-col>
            <ion-col col-2>
              <p class="day" *ngFor="let day of businessHours">{{day[1]}}:</p>
            </ion-col>
            <ion-col col-7>
              <p class="hours" *ngFor="let day of businessHours;">
                <span *ngIf="day[2] != day[3]">{{functions.formatClockTime(day[2], true)}} - {{functions.formatClockTime(day[3], true)}}</span>
                <span *ngIf="day[2] == day[3]">Closed</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngSwitchCase="'menu'">
          <ion-row *ngFor="let item of restaurant.recommendedItems">
            <ion-col col-8>
              <p>{{item.item}}</p>
            </ion-col>
            <ion-col col-2>
              <p class="strikethrough">{{item.price | currency}}</p>
            </ion-col>
            <ion-col col-2>
              <p>{{(item.price * (1 - activeTimeslot?.discount / 100)) | currency}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngSwitchCase="'map'">
          <ion-row>
            <ion-col col-3>
              <p class="header">Address:</p>
            </ion-col>
            <ion-col col-9>
              <p>{{restaurant?.address}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
        <!--<div [style.display]="type == 'map' ? 'block' : 'none'">-->
          <!--<div #mapCanvas id="mapCanvas"></div>-->
        <!--</div>-->
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
