booking-card {
  position: relative;
  .new-booking{
    z-index: 10;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    background-color: color($colors, danger);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

    p{
      color: #fff;
      margin: 0;
    }
  }
  ion-card{
    margin: 10px 0 10px 0 !important;
    width: 100% !important;
  }
  .button-wrapper{
    padding: 0 !important;
    .item-inner{
      padding: 0 !important;
      .input-wrapper{
        .label{
          margin: 0 !important;
        }
      }
    }
  }
  .date-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .restaurant-name{
    font-weight: 700;
    color: color($colors, dark);
  }
  .day, .month, .time, .date{
    text-align: center;
    font-weight: 500;
    margin: 0;
  }
  .day, .time{
    color: color($colors, primary);
  }
  .day, .time{
    font-size: 16px;
    line-height: 16px;
  }
  .date, .month{
    font-size: 22px;
    line-height: 32px;
    color: color($colors, dark);
  }
  .month{
    margin-left: 3px;
  }
  .dateMonth{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .metric{
    text-align: center;
    p{
      font-size: 18px;
      color: color($colors, primary);
    }
    ion-icon{
      font-size: 28px;
      color: #ccc;
    }
  }
  .booking-metrics{
    padding-right: 0 !important;
    .view-booking{
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color($colors, secondary);
      margin: 0;
      ion-icon{
        color: #fff;
        font-size: 32px;
      }
    }
  }
}
