page-camera-preview {
  .preview-ui{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .preview-boundary{
      width: 100%;
      height: 5vh;
      background: rgba(40,40,40,0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
      &.bottom{
        justify-content: flex-start;
      }
      &.top{
        justify-content: flex-end;
      }
      .horizontal-line{
        width: 120px;
        border-top: 2px solid #fff;
      }
    }
  }
  .camera-preview{
    background-color: transparent;
  }
}
