<ion-header>
  <ion-navbar color="primary" class="align-toolbar">
    <ion-title>Nearby</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button clear class="options-button" (click)="toggleToolbar()">-->
        <!--<span *ngIf="showToolbar">Hide</span>-->
        <!--<span *ngIf="!showToolbar">Show</span>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
  <ion-toolbar class="dateToolbar">
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <ion-item class="datetime-sm">
            <ion-label fixed><ion-icon name="calendar" color="primary"></ion-icon></ion-label>
            <ion-datetime displayFormat="MMM DD" pickerFormat="MMM DDDD" [min]="today" [max]="maxDate" [(ngModel)]="date" (ionChange)="rankRestaurants(restaurantAll)"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="datetime-sm no-icon">
            <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" minuteValues="0,30" [(ngModel)]="time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-button color="secondary" (click)="setNow(false)">Now</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <restaurant-card *ngFor = "let restaurant of restaurantList" [location]="location" [restaurant]="restaurant" [date]="date" [time]="time"></restaurant-card>
  </ion-list>
  <ion-infinite-scroll *ngIf="!allResults" threshold="500px" (ionInfinite)="getNextBatch($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid *ngIf="allResults">
    <ion-row>
      <ion-col align-items-center>
        <p class="align-center">That's all she's got, Captain.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
