<ion-header>
  <ion-navbar color="primary" class="align-toolbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div class="nearby-wrapper"><img src="assets/imgs/logo-header.svg"></div></ion-title>
    <ion-buttons end>
      <button ion-button icon-start large [disabled]="togglingView || loadingRestaurants" (tap)="toggleView()"><ion-icon *ngIf="view == 'list'" name="map"></ion-icon><ion-icon *ngIf="view == 'map'" name="list"></ion-icon><span *ngIf="view == 'list'">Map</span><span *ngIf="view == 'map'">List</span></button>
    <!--<button ion-button clear class="options-button" (click)="toggleToolbar()">-->
        <!--<span *ngIf="showToolbar">Hide</span>-->
        <!--<span *ngIf="!showToolbar">Show</span>-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div *ngIf="loadingGeneral" class="loading-overlay full">
  <div class="loading-spinner-box">
    <ion-spinner></ion-spinner>
  </div>
</div>
<ion-content [ngClass]="{'grey-background': view == 'list'}">
  <div *ngIf="loadingRestaurants || locationError" class="loading-restaurants">
    <div *ngIf="loadingRestaurants && !locationError" class="loading-spinner-box">
      <span>Finding Restaurants</span>
      <ion-spinner color="white"></ion-spinner>
    </div>
    <div class="location-error" *ngIf="locationError">
      <ion-icon name="pin"></ion-icon>
      <p>We are having an issue getting your location.</p>
      <p>Do you want to try again or continue without using your location?</p>
      <div class="location-error-buttons">
        <button ion-button color="secondary" (tap)="handleLocationError(true)">Try Again</button>
        <button ion-button color="secondary" (tap)="handleLocationError(false)">Continue</button>
      </div>
    </div>
  </div>
  <ion-refresher *ngIf="view == 'list' && restaurantList?.length" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="view == 'list' && !loadingRestaurants">
    <ion-card>
      <button ion-item (tap)="presentHIWModal()" class="how-it-works">
        <div class="body">
          <h4>Not sure how Eatibl works?</h4>
          <p>Tap here to learn more.</p>
        </div>
        <div class="arrow">
          <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
    </ion-card>
    <div class="nearby-header">
      <div class="header-left">
        <span *ngIf="locationText != 'Your Location' && headerIndex > 0" class="title">Restaurants in</span>
        <span *ngIf="locationText == 'Your Location' || headerIndex == 0" class="title">Restaurants near</span>
        <span class="location">{{locationText}}</span>
      </div>
      <button ion-button color="secondary" small (tap)="presentLocationModal()">Change</button>
    </div>
    <ion-list>
      <restaurant-card *ngFor = "let restaurant of restaurantList; let i = index" [locationText]="locationText" [user]="user" [index]="i" [cardType]="'light'" [location]="userCoords" [restaurant]="restaurant" [date]="date" [time]="time"></restaurant-card>
    </ion-list>
    <div class="load-more">
      <button class="blue-text" *ngIf="loadMorePressed < 4" ion-button icon-start block color="white" (tap)="loadMore()"><span *ngIf="loadingNextBatch" class="loading"><ion-spinner></ion-spinner></span><ion-icon name="arrow-dropdown-circle"></ion-icon>Show More Restaurants</button>
      <span class="search-more" *ngIf="loadMorePressed >= 4">Hungry for more?<button ion-button small color="secondary" (tap)="goToSearch()">Search</button></span>
    </div>
  </div>
  <div *ngIf="view == 'map'" [ngClass]="{'hideMap' : hideMap}" class="map-container">
    <div id="mapCanvas" [ngClass]="{'hidden': view == 'list'}"></div>
    <ion-card *ngIf="selectedResto.hasOwnProperty('name')" class="map-resto-card">
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col col-8 align-self-stretch class="first-row border-right">
            <button class="button-wrapper"  (tap)="navigateTo($event, '')" ion-item detail-none>
              <h2>{{selectedResto.name}}</h2>
              <p class="tags"><span *ngFor="let category of selectedResto?.categories; let i = index">{{category}}<span *ngIf="i < selectedResto.categories.length - 1">, </span></span></p>
              <div class="card-row">
                <p class="rating"><ion-icon name="star"></ion-icon><span *ngIf="selectedResto.rating">{{selectedResto.rating.ratingNumber}}</span><span class="na" *ngIf="!selectedResto.rating">N/A</span></p>
                <div class="price">
                  <p [ngClass]="selectedResto.price >= 1 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price >= 2 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price >= 3 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price == 4 ? 'active' : ''">$</p>
                </div>
              </div>
            </button>
          </ion-col>
          <ion-col col-4 nowrap align-self-stretch class="align-center first-row vertical-align-col">
            <button ion-button class="best-deal" *ngIf="selectedResto?.maxTimeslot" (tap)="navigateTo($event, selectedResto.maxTimeslot._id)">
              <div class="deal-header">
                <p class="title">BEST DEAL</p>
              </div>
              <div class="deal-details">
                <p class="discount">-{{selectedResto?.maxTimeslot.discount}}%</p>
                <p class="time">@{{functions.formatClockTime(selectedResto.maxTimeslot.time, true)}}</p>
              </div>
            </button>
            <div *ngIf="!selectedResto.timeslots.length">
              <p>Coming Soon</p>
            </div>
            <div *ngIf="selectedResto.timeslots.length > 0 && timeslotsLength <= 0">
              <p *ngIf="date != today">No deals for {{date | date: 'MMM d'}}</p>
              <p *ngIf="date == today">No more deals today</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
