page-home {
  .favorite-slides{
    margin-bottom: -32px;
  }
  .how-it-works{
    padding: 0;
    .item-inner{
      padding-right: 0 !important;
      .label{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
      }
    }
    .body{
      padding:12px;
      width: 88%;
      h4{
        font-weight: 700;
        color: color($colors,medium);
        font-size: 18px;
      }
      p{
        color: lighten(color($colors, primary), 10%);
        margin-bottom: 0;
      }
    }
    .arrow{
      background-color: color($colors, primary);
      width: 12%;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon{
        font-size: 36px;
        color: color($colors, white);
      }
    }
  }
  .button-wrapper {
    padding: 0 !important;
    .item-inner {
      padding: 0 !important;
      .input-wrapper {
        .label {
          margin: 0 !important;
        }
      }
    }
  }
  .section-header{
    h4{
      font-size: 16px;
      margin-bottom: 0;
    }
    &.top-picks{
      background-color: #222;
      h4{
        color: #fff;
      }
    }
    &.deals-nearby{
      h4{
        margin-bottom: 6px;
      }
    }
  }
  .toolbar-title-ios{
    .nearby-wrapper{
      justify-content: center;
    }
  }
  .toolbar-title{
    .nearby-wrapper{
      height: 100%;
      display: flex;
      align-items: center;
      img{
        height:34px;
      }
    }
  }
  .map-container{
    position: relative;
    height: 100%;
    width: 100%;
    &.hideMap{
      margin-top: 100vh;
    }
    #mapCanvas {
      height: 100%;
      &.hidden{
        opacity: 0 !important;
      }
    }
    .map-resto-card{
      position: absolute;
      margin: 10px;
      bottom: 0;

    }
    .best-deal{
      overflow: hidden;
      height: 64px;
      padding: 0;
      background-color: darken(color($colors, primary), 10%);
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      .button-inner{
        flex-direction: column;
        .deal-header{
          width: 100%;
          padding: 3px 0;
          background-color: #fff;
        }
        .deal-details{
          padding: 0 12px 6px 12px;
        }
        p{
          margin: 0;
          color: #fff;
          &.discount{
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 2px;
          }
          &.title{
            font-size: 12px;
            font-weight: 700;
            color: darken(color($colors, primary), 10%);
          }
          &.time{
            line-height: 14px;
          }
        }
      }
    }
  }
  .center-align{
    width: 100%;
    text-align: center;
  }
  .card-separator{
    width: 100%;
    margin: 6px 0;
    border-top: 1px solid #4d4d4d;
  }
  .locate-tab{
    position: absolute;
    left: 60px;
    z-index: 999;
    &.map-view{
      display: none;
    }
    button{
      height: 40px;
      ion-icon{
        font-size: 26px;
      }
    }
  }
  .info-card{
    ion-card-content{
      display: flex;
      align-items: center;
      ion-icon{
        color: color($colors, secondary);
        font-size: 24px;
        margin-right: 6px;
      }
      p{
        margin: 0;
      }
    }
  }
}
