<ion-header>
  <ion-navbar color="primary" class="align-toolbar">
    <ion-title><div class="nearby-wrapper"><img src="assets/imgs/logo-header.svg"></div></ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="togglingView" (touchend)="toggleView()"><span *ngIf="view == 'list'">Map View</span><span *ngIf="view == 'map'">List View</span></button>
    <!--<button ion-button clear class="options-button" (click)="toggleToolbar()">-->
        <!--<span *ngIf="showToolbar">Hide</span>-->
        <!--<span *ngIf="!showToolbar">Show</span>-->
      <!--</button>-->
    </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'grey-background': view == 'list'}">
  <ion-refresher *ngIf="view == 'list'" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="view == 'list'">
    <ion-card *ngIf="customLocation" class="info-card">
      <ion-card-content>
        <ion-icon name="information-circle"></ion-icon>
        <p>Not using your device's location.</p>
      </ion-card-content>
    </ion-card>
    <ion-grid class="section-header top-picks">
      <ion-row>
        <ion-col>
          <h4>Today's Top 5 Picks</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides class="top-pick-slider" spaceBetween="-15" pager="true">
      <ion-slide class="top-pick-slide" *ngFor="let restaurant of (restaurantList ? restaurantList.slice(0,5) : []);">
        <top-pick-card [location]="userCoords" [restaurant]="restaurant" [date]="date" [time]="time"></top-pick-card>
      </ion-slide>
    </ion-slides>
    <ion-grid class="section-header deals-nearby">
      <ion-row>
        <ion-col>
          <h4>Deals Nearby</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <restaurant-card *ngFor = "let restaurant of restaurantList; let i = index" [location]="userCoords" [restaurant]="restaurant" [date]="date" [time]="time"></restaurant-card>
    </ion-list>
    <div class="load-more">
      <button *ngIf="loadMorePressed < 2" ion-button block color="light" (tap)="loadMore()">Show More Restaurants</button>
    </div>
  </div>
  <div *ngIf="view == 'map'" [ngClass]="{'hideMap' : hideMap}" class="map-container">
    <div id="mapCanvas" [ngClass]="{'hidden': view == 'list'}"></div>
    <ion-card *ngIf="selectedResto.hasOwnProperty('name')" class="map-resto-card">
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col col-8 align-self-stretch class="first-row border-right">
            <button class="button-wrapper"  (tap)="navigateTo($event, '')" ion-item detail-none>
              <h2>{{selectedResto.name}}</h2>
              <p class="tags"><span *ngFor="let category of selectedResto?.categories; let i = index">{{category}}<span *ngIf="i < selectedResto.categories.length - 1">, </span></span></p>
              <div class="card-row">
                <p class="rating"><ion-icon name="star"></ion-icon><span *ngIf="selectedResto.rating">{{selectedResto.rating.ratingNumber}}</span><span class="na" *ngIf="!selectedResto.rating">N/A</span></p>
                <div class="price">
                  <p [ngClass]="selectedResto.price >= 1 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price >= 2 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price >= 3 ? 'active' : ''">$</p>
                  <p [ngClass]="selectedResto.price == 4 ? 'active' : ''">$</p>
                </div>
              </div>
              <p *ngIf="openStatus == 'open'" class="open"><span class="prefix">Open Now</span> {{functions.formatClockTime(businessHours[0], true)}} - {{functions.formatClockTime(businessHours[1], true)}}<span *ngIf="businessHours.length == 4">, {{functions.formatClockTime(businessHours[2], true)}} - {{functions.formatClockTime(businessHours[3], true)}}</span></p>
              <p *ngIf="openStatus == 'willOpen' || openStatus == 'closed'" class="closed"><span class="prefix">Closed</span> {{functions.formatClockTime(businessHours[0], true)}} - {{functions.formatClockTime(businessHours[1], true)}}<span *ngIf="businessHours.length == 4">, {{functions.formatClockTime(businessHours[2], true)}} - {{functions.formatClockTime(businessHours[3], true)}}</span></p>
              <p *ngIf="openStatus == 'closedToday'" class="closed"><span class="prefix">Closed Today</span></p>
            </button>
          </ion-col>
          <ion-col col-4 nowrap align-self-stretch class="align-center first-row vertical-align-col">
            <button ion-button class="best-deal" *ngIf="selectedResto?.maxTimeslot" (tap)="navigateTo($event, selectedResto.maxTimeslot._id)">
              <div class="deal-header">
                <p class="title">BEST DEAL</p>
              </div>
              <div class="deal-details">
                <p class="discount">-{{selectedResto?.maxTimeslot.discount}}%</p>
                <p class="time">@{{functions.formatClockTime(selectedResto.maxTimeslot.time, true)}}</p>
              </div>
            </button>
            <div *ngIf="!selectedResto.timeslots.length">
              <p>Coming Soon</p>
            </div>
            <div *ngIf="selectedResto.timeslots.length > 0 && timeslotsLength <= 0">
              <p *ngIf="date != today">No deals for {{date | date: 'MMM d'}}</p>
              <p *ngIf="date == today">No more deals today</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
<div class="locate-tab" [ngClass]="{'map-view' : view == 'map'}">
  <button [ngClass]="{'hideLocate' : hideLocate}" ion-button icon-start color="secondary" (click)="openMap()"><ion-icon name="pin"></ion-icon>Set Location</button>
</div>
