page-intro-slides {
  position: relative;
  ion-content > div {
    padding: 0 !important;
  }
  .close-button{
    position: absolute;
    background: transparent;
    border: 0;
    right: 10px;
    top: 10px;
    color: #fff;
    z-index: 15;
    font-size: 22px;
  }
  ion-toolbar{
    .toolbar-background{
      background-color: transparent;
    }
  }
  .intro-slide{
    .slide-zoom{
      background-color: color($colors, primary);
      .intro-slide-liner{
        position: relative;
        color: #fff;
        padding: 0 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30%;
        img{
          padding-top: 20%;
          width: 80%;
        }
        p{
          font-size: 18px;
          color: #eee;
          .emphasis{
            font-weight: 700;
            color: #fff;
          }
        }
        h2{
          font-size: 28px;
          margin-bottom: 6px;
        }
        h4{
          margin-top: 0;
          font-size: 18px;
          text-transform: uppercase;
          color: color($colors, yellow);
        }
      }
    }
  }
  .signup-slide{
    .slide-zoom {
      position: relative;
      background-color: color($colors, primary);
      .email-submit{
        height: 100%;
        padding: 0 10% 60px 10%;
        margin-top: 20px;
        p{
          color: #fff;
        }
        .signup-email{
          color: color($colors, primary) !important;
        }
         .email-submit-header{
           font-weight: 500;
           font-size: 22px;
           color: color($colors, white);
           margin-bottom: 20px;
         }
         .email-submit-liner {
           display: flex;
           ion-input {
             margin: 0.4rem 0.2rem;
             height: 50px;
             border-radius: 5px;
             border: 1px solid #ccc;
             input {
               height: 100%;
               margin-top: 0;
               margin-bottom: 0;
             }
           }
           button{
             height: 50px;
           }
         }
         .form-error{
           margin-top: 6px;
           text-align: center;
           color: color($colors, danger);
         }
      }
    }
  }
  .final-slide{
    .slide-zoom{
      position: relative;
      background-color: color($colors, primary);
      .final-slide-liner{
        padding-bottom: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          margin-bottom: 20px;
        }
        h2, p{
          color: #fff;
        }
        .line-separator{
          height: 6px;
          width: 6px;
          background-color: #fff;
          border-radius: 6px;
          margin: 16px 0;
        }
        .list{
          margin: 0 20px;
          font-weight: 300;
          text-align: center;
        }
        img{
          height: 20px;
          width: 20px;
          margin: 10px auto;
        }
      }
    }
  }
  .swiper-pagination{
    bottom: 20px !important;
  }
  .social-login{
    width: 100%;
    .google-login{
      margin-top: 12px;
      color: #4d4d4d;
      img{
        height: 22px;
        margin-right: 3px;
      }
    }
  }
  .social-login{
    .separator{
      margin: 20px 0;
      span{
        color: #fff;
      }
    }
  }
  .footnote{
    padding: 0 10%;
    color: #f4f4f4;
    position: absolute;
    bottom: 35px;
    font-size: 12px;
  }

  .graphic{
    bottom: 0;
    position: absolute;
    display: flex;
    height: 20%;
    width: 150%;
    background-size: cover;
    &.blue{
      top: 0;
      right: 0;
      img{
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    &.orange{
      bottom: 0;
      left: -100%;
    }
    img{
      padding: 0 !important;
      width: 100% !important;
      height: 100%;
    }
  }
}
