<!--
  Generated template for the IntroSlidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <button *ngIf="haveEmail" class="close-button" (tap)="closeModal('x')"><ion-icon name="close"></ion-icon></button>
  <ion-slides paginationType="bullets" pager="true" (ionSlideNextStart)="slideChanged()" (ionSlidePrevStart)="slideChanged()">
    <ion-slide class="intro-slide">
      <div class="intro-slide-liner">
        <img src="assets/imgs/intro-logo.png">
        <div class="special-offer">
          <h2>Special Offer</h2>
          <h4>For our early supporters</h4>
          <p>Make a booking within 72 hours and your Eatibl account will be <span class="emphasis">free forever</span>!</p>
        </div>
        <div></div>
      </div>
    </ion-slide>
    <ion-slide class="final-slide">
      <div class="graphic orange" [style.background-image]="'url(assets/imgs/orange-backdrop.jpg)'">
        <img src="assets/imgs/red-triangle.png" alt="">
      </div>
      <div class="final-slide-liner">
        <h2>Eatibl in a Nutshell</h2>
        <p class="list">Our restaurants reward you for dining at certain times</p>
        <div class="line-separator"></div>
        <p class="list">Browse and claim a limited offer</p>
        <div class="line-separator"></div>
        <p class="list">Our offers are good for both dine-in and takeout</p>
        <p class="footnote">* Deals are first come, first served and Eatibl cannot make accommodations for sold out deals.</p>
      </div>
    </ion-slide>
    <ion-slide class="signup-slide">
      <div class="graphic blue" [style.background-image]="'url(assets/imgs/blue-backdrop.jpg)'">
        <img src="assets/imgs/red-triangle.png" alt="">
      </div>
      <div class="email-submit"  *ngIf="!haveEmail">
        <span class="email-submit-header">Sign Up & Get Started</span>
        <button class="signup-email" ion-button block color="white" icon-start (tap)="signup()">Sign Up with Email</button>
        <div class="social-login">
          <div class="separator">
            <span class="line"></span>
            <span>OR</span>
            <span class="line"></span>
          </div>
          <button class="facebook-login" ion-button block color="facebook" icon-start (tap)="loginFacebook()"><ion-icon name="logo-facebook"></ion-icon>Login with Facebook</button>
          <button *ngIf="mobilePlatform == 'ios'" class="google-login" outline ion-button block color="googleplus" icon-start (tap)="loginGoogle()"><img src="assets/imgs/google-icon.svg">Login with Google</button>
          <button *ngIf="mobilePlatform == 'android'" class="google-login" ion-button block color="white" icon-start (tap)="loginGoogle()"><img src="assets/imgs/google-icon.svg">Login with Google</button>
        </div>
      </div>
      <p class="footnote">* Eatibl will not post to your social media or share your information with third parties.</p>
      <div class="email-submit" *ngIf="haveEmail">
        <p>Thank you for signing up!</p>
        <div class="button-area">
          <button ion-button color="light" (tap)="learnMore()">Learn More</button>
          <button ion-button color="secondary" (tap)="closeModal('end')">Get Started</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons left>
        <button [disabled]="currentIndex == 0" ion-button color="secondary" icon-start (tap)="prevSlide()"><ion-icon name="arrow-back"></ion-icon>Back</button>
      </ion-buttons>
      <ion-buttons right>
        <button [disabled]="currentIndex == 2" ion-button color="secondary" icon-end (tap)="nextSlide()">Next<ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
