// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Restaurant Component and Page
.map-resto-card{
  .price{
    margin-left: 12px;
  }
  ion-grid {
    padding: 0;
  }
}
restaurant-card, page-restaurant, .map-resto-card {
  ion-card {
    border-radius: 0 !important;
  }
}
restaurant-card, page-restaurant, top-pick-card, .map-resto-card {
  ion-card{
    margin: 0 0 20px 0 !important;
    width: 100% !important;
  }
  h2{
    font-weight: 700 !important;
  }
  .open{
    .prefix{
      color: color($colors, tertiary);
    }
    font-size: 1.2rem;
  }
  .closed{
    .prefix{
      color: color($colors, primary);
    }
    font-size: 1.2rem;
  }
  .tags{
    color: lighten(color($colors, dark), 50%);
    font-size: 1.2rem;
  }
  .rating{
    font-size: 18px;
    color: color($colors, primary);
    span{
      font-size: 18px;
      &.na{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .price{
    p{
      display: inline-block;
      &.active{
        color: color($colors, danger);
      }
    }
  }
  .card-row{
    display: flex;
    align-items: center;
  }
  .details{
    padding: 5px;
  }
  .header{
    font-weight: 700;
  }
  .strikethrough{
    text-decoration: line-through;
    color: lighten(color($colors, dark), 20%);
  }
  .no-timeslots{
    background-color: color($colors, danger);
    height: 40px;
    p{
      line-height: 40px;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
    }
  }
  ion-slides{
    border-right: 1px solid lighten(#ccc, 10%);
    border-left: 1px solid lighten(#ccc, 10%);
    ion-slide{
      .timeslot{
        height: 80px;
        border-right: 1px solid lighten(#ccc, 10%);
        p{
          margin: 0;
          height: 25%;
          color: lighten(color($colors, dark), 20%);
          &.timeslot-time{
            font-size: 1.4rem;
          }
          &.active{
            color: color($colors, primary);
            font-weight: 700;
          }
        }
        button{
          width: 100%;
          margin: 0;
          height: 75%;
          font-size: 2rem;
          position: relative;
          &.tapped{
            background-color: darken(color($colors, primary), 20%);
            color: lighten(color($colors, primary), 20%);
          }
          &.active{
            background-color: darken(color($colors, primary), 20%);
          }
          &:disabled{
            background-color: darken(color($colors, light), 10%);
            color: lighten(color($colors, primary), 0%);
            opacity: 1;
          }
          .sold-out{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: -2;
            font-size: 14px;
            line-height: 36px;
            justify-content: center;
            align-items: center;
            color: lighten(color($colors, medium), 40%);
            text-shadow: 0px 1px 0px rgba(255,255,255,.5);
            ion-icon{
              font-size: 52px;
              color: darken(color($colors, primary), 8%);
              text-shadow: 0px 1px 0px rgba(255,255,255,.2);
            }
          }
        }
      }
      .fillerslot{
        background-color: color($colors, light);
        height: 80px;
        border-right: 1px solid lighten(#ccc, 10%);
      }
    }
  }
  ion-grid{
    padding: 0 0 5px 0;
    ion-row{
      padding-right: 5px;
      padding-left: 5px;
    }
    .first-row{
      padding-top: 5px;
    }
  }
  .loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    ion-spinner * {
      width: 28px;
      height: 28px;
      stroke: color($colors, primary);
      fill: #ececec;
    }
  }
}

//Loading screens
.loading-restaurants{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  .loading-spinner-box{
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color($colors, primary);
    span{
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      margin-right: 6px;
    }
    ion-spinner{
      width: 30px;
      height: 30px;
    }
  }
}

.loading-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(150,150,150,0.4);
  .loading-spinner-box{
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    ion-spinner *{
      width: 30px;
      height: 30px;
      stroke: color($colors, primary);
    }
  }
}

//Hiding tabs and help button when map is open
ion-tabs{
  &.hideTabs{
    opacity: 0;
  }
}

.help-tab{
  .hideHelp{
    opacity: 0;
  }
}

//Map Styling
.mapRow{
  .map-figure{
    height: 100px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .map{
      width:120%;
      max-width: 120% !important;
    }
  }
  .address{
    padding: 8px 0;
    p{
      font-size: 12px;
    }
  }
  .navigate-button{
    position: relative;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 12px;
      top: -30px;
      p{
        font-size: 12px;
        font-weight: 700;
      }
      button{
        margin-bottom: 6px;
      }
    }
  }
}

//Load more button
.load-more{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: -8px;
  .blue-text{
    color: color($colors, secondary);
    position: relative;
    .loading{
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.6);
      ion-spinner * {
        stroke: color($colors, primary);
      }
    }
  }
  .search-more{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      margin-left: 6px;
    }
  }
}
.platform-ios{
  .load-more{
    .blue-text{
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
  }
}


//Help Fab styling
.help-tab{
  position: absolute;
  left: 4px;
  &.map-view{
    display: none;
  }
  button{
    height: 40px;
    width: 50px;
    ion-icon{
      font-size: 26px;
    }
  }
}

//Platform specific styling
.platform-ios{
  .help-tab{ //Support fab
    bottom: 52px;
    top: auto;
  }
  .locate-tab{ //Set location tab
    bottom: 52px;
  }
  page-intro-slides{ //Intro modal
    .intro-slide, .screenshot-slide, .final-slide {
      .slide-zoom {
        height: calc(100vh - 44px);
        margin-bottom: 44px;
      }
    }
    .swiper-pagination{
      bottom: 12px !important;
    }
  }
  .category-list{ //Search category drop down
    top: 72px;
    height: calc(100vh - 72px);
  }
  .close-button{ //close button in intro slide modal
    font-size: 30px;
    top: 20px;
    right: 0;
  }
  .ios-input-padding{ //add padding-left to inputs with borders on ios
    padding-left: 12px;
  }
}
.platform-android{
  .help-tab{ //Support fab
    bottom: 60px;
    top: auto;
  }
  .locate-tab{ //Set location tab
    bottom: 60px;
  }
  page-intro-slides{ //Intro modal
    .intro-slide, .screenshot-slide, .final-slide {
      .slide-zoom {
        height: calc(100vh - 56px);
        margin-bottom: 56px;
      }
    }
    .swiper-pagination{
      bottom: 20px !important;
    }
  }
  .category-list{ //Search category drop down
    top: 58px;
    height: calc(100vh - 98px);
  }
}

//Sign Up Prompt
#signUpPrompt {
  ion-card-content{
    ion-icon{
      margin: 6px 0;
      color: lighten(color($colors, dark), 30%);
      font-size: 80px;
    }
    h2{
      margin: 12px 0 !important;
      font-weight: 700 !important;
      text-align: center;
    }
    p{
      margin-bottom: 12px !important;
      text-align: center;
    }
  }
}

//General Use Classes
.green-background{ //For toasts
  .toast-wrapper{
    .toast-container{
      background-color: color($colors, tertiary);
    }
  }
}
.grey-background{
  background-color: #ececec !important;
}

.bold{
  font-weight: 700;
}
.vertical-align-col{
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.button-row{
  display: flex;
  :not(:last-child) {
    margin-right: 6px;
  }
}

.no-padding-col{
  padding: 0 !important;
}
.no-padding-row {
  padding: 0 !important;
}
.border-bottom{
  border-bottom: 1px solid #ccc;
}
.border-right{
  border-right: 1px solid #ccc;
}
.align-center{
  text-align: center;
}
.no-margin{
  margin: 0 !important;
}
.terms{
  color: #9a9a9a !important;
  font-size: 12px !important;
}
.terms-white{
  color: color($colors, light) !important;
  font-size: 12px !important;
}

//General Directive Styling
ion-grid{
  padding: 0 !important;
  ion-row{
    padding: 0 5px !important;
    &.extra-padding{
      padding: 5px 5px !important;
    }
  }
}

.dateToolbar{
  .datetime-sm{
    border-radius: 5px;
    border: 1px solid #ccc;
    ion-datetime{
      font-size: 14px;
      padding: 10px 8px 10px 16px;
    }
    &.no-icon{
      padding-left: 0;
    }
    .item-inner{
      border-bottom: none !important;
    }
    ion-label[fixed]{
      margin-right: 0 !important;
      min-width: 15% !important;
      max-width: 15% !important;
      ion-icon{
        color: lighten(color($colors, dark), 20%);
      }
    }
  }
  .show-all-toggle{
    background-color: transparent;
  }
  .button-ios{
    margin: 0;
  }
}

form{
  ion-label[fixed]{
    min-width: 10% !important;
    max-width: 10% !important;
    ion-icon{
      color: lighten(color($colors, dark), 20%);
    }
  }
}

ion-navbar.align-toolbar{
  .toolbar-content{
    display: flex;
    align-items: center;
    .options-button{
      ion-icon, ion-datetime{
        color: #fff;
      }
    }
  }
}

.slide-button{
  border-radius: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

//Social media login
.social-login{
  .separator{
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      margin: 0 6px;
      font-size: 14px;
      font-weight: 500;
      color: #ccc;
    }
    .line{
      margin: 0;
      height: 0;
      width: 40%;
      border-top: 1px solid #ccc;
    }
  }
}

//General Styling
h1, h2, h3, h4, p, button, span, ion-select, ion-datetime, ion-input, ion-title, ion-textarea {
  font-family: "Quicksand";
}

.has-refresher  .scroll-content {
  border-top: 0 !important;
}

.item-inner{
  border-bottom: none !important;
  box-shadow: none !important;
}

ion-menu{
  .menu-item{
    color: #4d4d4d;
    &.active{
      color: color($colors, primary);
      ion-icon{
        color: color($colors, primary);
      }
    }
    ion-icon{
      color: #ccc;
    }
  }
  .account-header{
    p{
      font-size: 30px;
    }
    .user-icon{
      font-size: 40px;
      color: #ccc;
      &.logged-in{
        color: color($colors, secondary);
      }
    }
    .placeholders{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .grey-box{
        background-color: #ddd;
        height: 20px;
        width: 60px;
        margin: 3px 0;
        &.big{
          width: 85px;
        }
      }
    }
  }
  ion-item-group{
    border-bottom: 1px solid #ccc;
  }
}

//Platform specific styling

restaurant-card{
  .card-md{
    .best-deal{
      .button-inner{
        justify-content: flex-start;
        .deal-header{
          padding: 0 0 !important;
        }
      }
    }
  }
}
