// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Restaurant Component and Page
.map-resto-card{
  .price{
    margin-left: 12px;
  }
  ion-grid {
    padding: 0;
  }
}
restaurant-card, page-restaurant, .map-resto-card {
  ion-card{
    margin: 0 0 20px 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
  }
  h2{
    font-weight: 700 !important;
  }
  .open{
    .prefix{
      color: color($colors, tertiary);
    }
    font-size: 1.2rem;
  }
  .closed{
    .prefix{
      color: color($colors, primary);
    }
    font-size: 1.2rem;
  }
  .tags{
    color: lighten(color($colors, dark), 50%);
    font-size: 1.2rem;
  }
  .rating{
    font-size: 18px;
    color: color($colors, primary);
    span{
      font-size: 18px;
      &.na{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .price{
    p{
      display: inline-block;
      &.active{
        color: color($colors, danger);
      }
    }
  }
  .card-row{
    display: flex;
    align-items: center;
  }
  .details{
    padding: 5px;
  }
  .header{
    font-weight: 700;
  }
  .strikethrough{
    text-decoration: line-through;
    color: lighten(color($colors, dark), 20%);
  }
  .no-timeslots{
    background-color: color($colors, danger);
    height: 40px;
    p{
      line-height: 40px;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
    }
  }
  ion-slides{
    border-right: 1px solid lighten(#ccc, 10%);
    border-left: 1px solid lighten(#ccc, 10%);
    ion-slide{
      .timeslot{
        height: 80px;
        border-right: 1px solid lighten(#ccc, 10%);
        p{
          margin: 0;
          height: 25%;
          color: lighten(color($colors, dark), 20%);
          &.timeslot-time{
            font-size: 1.4rem;
          }
          &.active{
            color: color($colors, primary);
            font-weight: 700;
          }
        }
        button{
          width: 100%;
          margin: 0;
          height: 75%;
          font-size: 2rem;
          &.tapped{
            background-color: darken(color($colors, primary), 20%);
            color: lighten(color($colors, primary), 20%);
          }
          &.active{
            background-color: darken(color($colors, primary), 20%);
          }
          &:disabled{
            background-color: darken(color($colors, light), 10%);
            color: lighten(color($colors, dark), 40%);
            opacity: 1;
          }
        }
      }
      .fillerslot{
        background-color: color($colors, light);
        height: 80px;
        border-right: 1px solid lighten(#ccc, 10%);
      }
    }
  }
  ion-grid{
    padding: 0 0 5px 0;
    ion-row{
      padding-right: 5px;
      padding-left: 5px;
    }
    .first-row{
      padding-top: 5px;
    }
  }
  .loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    ion-spinner * {
      width: 28px;
      height: 28px;
      stroke: color($colors, primary);
      fill: #ececec;
    }
  }
}

//Map Styling
.mapRow{
  .map-figure{
    height: 100px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .map{
      width:120%;
      max-width: 120% !important;
    }
  }
  .address{
    padding: 8px 0;
    p{
      font-size: 12px;
    }
  }
  .navigate-button{
    position: relative;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 12px;
      top: -30px;
      p{
        font-size: 12px;
        font-weight: 700;
      }
      button{
        margin-bottom: 6px;
      }
    }
  }
}

//Help Fab styling
.help-tab{
  position: absolute;
  left: 4px;
  button{
    height: 40px;
    width: 50px;
    ion-icon{
      font-size: 26px;
    }
  }
}
.platform-ios{
  .help-tab{
    bottom: 52px;
  }
}
.platform-android{
  .help-tab{
    bottom: 60px;
  }
}

//Sign Up Prompt
#signUpPrompt {
  ion-card-content{
    ion-icon{
      margin: 6px 0;
      color: lighten(color($colors, dark), 30%);
      font-size: 80px;
    }
    h2{
      margin: 12px 0 !important;
      font-weight: 700 !important;
      text-align: center;
    }
    p{
      margin-bottom: 12px !important;
      text-align: center;
    }
  }
}

//General Use Classes
.grey-background{
  background-color: #ececec !important;
}

.bold{
  font-weight: 700;
}
.vertical-align-col{
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.no-padding-col{
  padding: 0 !important;
}
.no-padding-row {
  padding: 0 !important;
}
.border-bottom{
  border-bottom: 1px solid #ccc;
}
.border-right{
  border-right: 1px solid #ccc;
}
.align-center{
  text-align: center;
}
.no-margin{
  margin: 0 !important;
}
.terms{
  color: #9a9a9a !important;
  font-size: 12px !important;
}
.terms-white{
  color: color($colors, light) !important;
  font-size: 12px !important;
}

//General Directive Styling
ion-grid{
  padding: 0 !important;
  ion-row{
    padding: 0 5px !important;
    &.extra-padding{
      padding: 5px 5px !important;
    }
  }
}

.dateToolbar{
  .datetime-sm{
    border-radius: 5px;
    border: 1px solid #ccc;
    ion-datetime{
      font-size: 14px;
      padding: 10px 8px 10px 16px;
    }
    &.no-icon{
      padding-left: 0;
    }
    .item-inner{
      border-bottom: none !important;
    }
    ion-label[fixed]{
      margin-right: 0 !important;
      min-width: 15% !important;
      max-width: 15% !important;
    }
  }
  .button-ios{
    margin: 0;
  }
}

ion-label[fixed]{
  min-width: 10% !important;
  max-width: 10% !important;
  ion-icon{
    color: lighten(color($colors, dark), 20%);
  }
}

ion-navbar.align-toolbar{
  .toolbar-content{
    display: flex;
    align-items: center;
    .options-button{
      ion-icon, ion-datetime{
        color: #fff;
      }
    }
  }
}

.slide-button{
  border-radius: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

//General Styling
h1, h2, h3, h4, p, button, span, ion-select, ion-datetime, ion-input, ion-title, ion-textarea {
  font-family: "Quicksand";
}

.item-inner{
  border-bottom: none !important;
  box-shadow: none !important;
}

//Platform specific styling

restaurant-card{
  .card-md{
    .best-deal{
      .button-inner{
        justify-content: flex-start;
        .deal-header{
          padding: 0 0 !important;
        }
      }
    }
  }
}
