page-invite-modal {
  .booking-medal{
    width: 25%;
  }
  .booking-success{
    color: color($colors, primary);
  }
  .logo-header{
    height:34px;
  }
  .add-contact-button{
    width: 100%;
    .button-inner{
      span{
        margin: 3px 0;
      }
    }
  }
  .or-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-weight: 700;
      margin: 6px 6px;
      font-size: 16px;
      color: color($colors, primary);
    }
  }
  .limit-count{
    margin: 3px 0;
    font-weight: 700;
    font-size: 16px;
    span{
      margin: 0 3px;
      color: color($colors, secondary);
      &.over-limit{
        color: color($colors, danger);
      }
    }
  }
  .invitee{
    .item-inner{
      border-bottom: 1px solid #dedede !important;
    }
  }
  .no-results{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
