page-invite-modal {
  ion-grid{
  }
  ion-scroll{
  }
  .logo-header{
    height:34px;
  }
  .add-contact-button{
    height: 60px;
    .button-inner{
      flex-flow: column;
      span{
        margin: 3px 0;
      }
    }
  }
  .or-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-weight: 700;
      margin: 6px 6px;
      font-size: 16px;
      color: color($colors, primary);
    }
  }
  .limit-count{
    margin: 3px 0;
    font-weight: 700;
    font-size: 16px;
    span{
      margin: 0 3px;
      color: color($colors, secondary);
      &.over-limit{
        color: color($colors, danger);
      }
    }
  }
  .invitee{
    .item-inner{
      border-bottom: 1px solid #dedede !important;
    }
  }
  .no-results{
    margin-top: 30px;
  }
}
