page-invite-modal {
  ion-grid{
  }
  ion-scroll{
  }
  .logo-header{
    height:34px;
  }
  .or-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    .line{
      width: 25%;
      border-top: 1px solid #ccc;
    }
    p{
      font-weight: 700;
      margin: 6px 6px;
      font-size: 16px;
      color: color($colors, primary);
    }
  }
  .contact-form{
    p{
      margin: 0 0 6px 0;
    }
    form{
      display: flex;
      ion-item{
        padding-left: 0 !important;
        &.name{
          width: 35% !important;
        }
        &.phone {
          width: auto;
        }
        ion-input{
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
      button{
        height: 48px !important;
      }
    }
  }
  .invitee{
    .item-inner{
      border-bottom: 1px solid #dedede !important;
    }
    button{

    }
  }
  .no-results{
    margin-top: 30px;
  }
}
