page-initial-load-modal {
  ion-content{
    &.hideScreen{
      opacity: 0;
    }
  }
  .initial-load-wrapper{
    background-color: color($colors, primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 20vw;
      margin-bottom: 20px;
      margin-top: -30px;
    }
    .loading-statement{
      display: flex;
      justify-content: center;
      align-items: center;
      h4{
        color: #fff;
        margin: 0;
      }
      ion-spinner * {
        margin-left: 5px;
        stroke: #fff;
      }
    }
  }
}
