page-initial-load-modal {
  .initial-load-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 30vw;
      margin-bottom: 20px;
      margin-top: -30px;
    }
    .loading-statement{
      display: flex;
      justify-content: center;
      align-items: center;
      h4{
        color: color($colors, primary);
        margin: 0;
      }
      ion-spinner * {
        margin-left: 5px;
        stroke: color($colors, primary);
      }
    }
  }
}
