.item-button{
  border-bottom: 1px solid #ccc;
  .label{
    margin-top: 5px;
    margin-bottom: 5px;
    .item-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2{
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p{
        margin-left: 6px;
        font-size: 13px;
        color: color($colors, medium);
      }
      .discount{
        display: flex;
        align-items: center;
        color: color($colors, tertiary);
        ion-icon{
          margin-right: 3px;
        }
      }
      .no-discount{
        color: color($colors, danger);
      }
    }
  }
}

.no-results{
  .icon{
    font-size: 48px;
    color: #6f6f6f;
  }
  p{
    &.bold{
      font-weight: 700;
    }
  }
  &.categories{
    margin-top: 12px;
    padding-left: 12px;
  }
}
.all-results{
  margin-top: 0;
}
