<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" class="align-toolbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar #searchbar [(ngModel)]="searchInput" [showCancelButton]="true" (ionInput)="updateList(); packageSearch(searchInput)"></ion-searchbar>
  </ion-navbar>
  <ion-toolbar>
    <button ion-button color="{{sortType == 'alpha' ? 'secondary' : 'light'}}" icon-start (tap)="sortBy('alpha')"><ion-icon name="list"></ion-icon> A to Z</button>
    <button ion-button color="{{sortType == 'distance' ? 'secondary' : 'light'}}" icon-start (tap)="sortBy('distance')"><ion-icon name="navigate"></ion-icon> Distance</button>
    <button ion-button color="{{sortType == 'discount' ? 'secondary' : 'light'}}" icon-start (tap)="sortBy('discount')"><ion-icon name="logo-usd"></ion-icon> Discount</button>
  </ion-toolbar>
</ion-header>


<ion-content class="grey-background">
  <div *ngIf="loadingRestaurants" class="loading-restaurants">
    <div class="loading-spinner-box">
      <span>Finding Restaurants</span>
      <ion-spinner color="white"></ion-spinner>
    </div>
    <div class="location-error" *ngIf="locationError">
      <ion-icon name="pin"></ion-icon>
      <p>We are having an issue getting your location.</p>
      <p>Do you want to try again or continue without using your location?</p>
      <div class="location-error-buttons">
        <button ion-button color="secondary" (tap)="handleLocationError(true)">Try Again</button>
        <button ion-button color="secondary" (tap)="handleLocationError(false)">Continue</button>
      </div>
    </div>
  </div>
  <ion-list [virtualScroll]="restoFiltered">
    <button class="item-button" ion-item (tap)="navigateTo(resto)" *virtualItem="let resto">
      <div class="item-top">
        <h2>{{ resto.name }}</h2>
        <p *ngIf="deviceLocation">{{ resto.distanceFormatted }}</p>
      </div>
      <div class="item-top">
        <p>{{ resto.vicinity }}</p>
        <p class="discount" *ngIf="resto.maxTimeslot"><ion-icon name="flash"></ion-icon>-{{resto.maxTimeslot.discount}}%</p>
        <p class="no-discount" *ngIf="!resto.maxTimeslot">No More Deals Today</p>
      </div>
    </button>
  </ion-list>
  <div *ngIf="restoFiltered?.length == 0" class="no-results">
    <ion-grid>
      <ion-row>
        <ion-col class="align-center icon">
          <ion-icon name="search"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-items-center>
          <p class="align-center">No results found for</p>
          <p class="align-center bold">{{searchInput}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
