<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" class="align-toolbar">
    <ion-searchbar #searchbar [(ngModel)]="searchInput" [showCancelButton]="true" (ionCancel)="hideCategoryList(false)" (ionInput)="filterCategories(searchInput)" (search)="searchRestaurants(searchInput); hideCategoryList(false)" (ionBlur)="hideCategoryList(true)" (ionFocus)="toggleCategorySelect($event, true)"></ion-searchbar>
    <ion-buttons end>
      <button (tap)="searchRestaurants(searchInput); hideCategoryList(false)" ion-button>
        Search
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="showToolbar" class="dateToolbar">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <ion-item class="datetime-sm">
            <ion-label fixed><ion-icon name="calendar" color="primary"></ion-icon></ion-label>
            <ion-datetime displayFormat="DDD, MMM DD" pickerFormat="MMM DDDD" [min]="today" [max]="maxDate" [(ngModel)]="date" (ionCancel)="logDate('cancelled', date);" (ionChange)="rankRestaurants(restaurantAll); filterRestaurants(searchInput, false); logDate('changed', date);"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-5>
          <ion-item class="datetime-sm">
            <ion-label fixed><ion-icon name="clock" color="primary"></ion-icon></ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" minuteValues="0,30" [(ngModel)]="time" (ionCancel)="logTime('cancelled', time);" (ionChange)="logTime('changed', time);"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-scroll *ngIf="showCategories" scrollY="true" class="category-list">
    <ion-list *ngIf="searchCategories.length">
      <ion-list-header>
        <ion-icon name="restaurant"></ion-icon>
        Popular Categories
      </ion-list-header>
      <button ion-item *ngFor="let category of searchCategories" (tap)="searchCategory(category[0])"><div [innerHTML]="category[0] | highlightSearch: searchInput"></div></button>
    </ion-list>
  </ion-scroll>

</ion-header>


<ion-content class="grey-background">
  <div *ngIf="loadingRestaurants" class="loading-restaurants">
    <div class="loading-spinner-box">
      <span>Finding Restaurants</span>
      <ion-spinner color="white"></ion-spinner>
    </div>
  </div>
  <div *ngIf="!restaurantList" class="no-results">
    <ion-grid>
      <ion-row>
        <ion-col class="align-center icon">
          <ion-icon name="search"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-items-center>
          <p class="align-center">Search by category or keyword.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-refresher *ngIf="restaurantList?.length" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <restaurant-card *ngFor = "let restaurant of restaurantList" [cardType]="'standard'" [location]="userCoords" [restaurant]="restaurant" [date]="date" [time]="time"></restaurant-card>
  </ion-list>
  <ion-grid>
    <ion-row *ngIf="allResults && restaurantList?.length">
      <ion-col>
        <p class="align-center all-results">That's all she's got, Captain.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="restaurantList?.length" class="load-more">
          <button class="blue-text" *ngIf="batch == 1" ion-button block color="white" icon-end (tap)="nextBatch()">Next 10 Results<ion-icon name="arrow-dropright-circle"></ion-icon></button>
          <button class="blue-text" *ngIf="batch > 1 && !allResults" ion-button color="white" icon-start (tap)="prevBatch()"><ion-icon name="arrow-dropleft-circle"></ion-icon>Prev 10 Results</button>
          <button class="blue-text" *ngIf="batch > 1 && !allResults" ion-button icon-end color="white" (tap)="nextBatch()">Next 10 Results<ion-icon name="arrow-dropright-circle"></ion-icon></button>
          <button class="blue-text" *ngIf="batch > 0 && allResults" ion-button icon-start block color="white" (tap)="prevBatch()"><ion-icon name="arrow-dropleft-circle"></ion-icon>Prev 10 Results</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="restaurantList?.length == 0" class="no-results">
    <ion-grid>
      <ion-row>
        <ion-col class="align-center icon">
          <ion-icon name="search"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-items-center>
          <p class="align-center">No results found for</p>
          <p class="align-center bold">{{searchCache}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
