page-set-position-modal {

  #setPositionMap {
    height: 100%;
    &:after {
      width: 22px;
      height: 40px;
      display: block;
      content: ' ';
      position: absolute;
      top: 50%; left: 50%;
      margin: -40px 0 0 -11px;
      background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
      background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
      pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
    }
  }
  ion-card{
    position: absolute;
    top: 0;
    margin-top: 20px;
    h3{
      text-align: center;
    }
  }
  .set-position-button{
    position: absolute;
    padding: 0 10px;
    margin-bottom: 30px;
    bottom: 0;
    width: 100%;
    display: flex;
    .auto-locate{
      width: 40%;
      margin-right: 6px;
    }
    .set-locate{
      width: 60%;
    }
  }
}
