#account-card{
  margin: 0 0 10px 0 !important;
  width: 100% !important;
  .form-error{
    margin-left: 8px;
    margin-top: 6px;
    text-align: center;
    color: color($colors, danger);
  }
  .user-icon{
    font-size: 60px;
    color: #ccc;
  }
  .promocode-area{
    display: flex;
    ion-input{
      height: 35px;
      border-radius: 5px;
      border: 1px solid #ccc;
      input{
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .account-header{
    .placeholders{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .grey-box{
        background-color: #ddd;
        height: 10px;
        width: 60px;
        margin: 3px 0;
        &.big{
          width: 85px;
        }
      }
    }
  }

  h2{
    color: color($colors, primary);
    font-size: 18px !important;
    font-weight: 700 !important;
    text-align: center;
  }

  .booking-metrics{
    .title{
      text-align: center;
    }
    .metric{
      display: flex;
      justify-content: center;
      align-items: center;
      ion-icon{
        font-size: 28px;
        color: #ccc;
        margin-right: 6px;
      }
      p{
        font-size: 28px;
        color: color($colors, primary);
        font-weight: 700;
      }
    }
  }
  .invites{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      text-align: center;
      width: 80%;
    }
    .remaining{
      display: flex;
      p{
        width: 100%;
        font-size: 16px;
        &.count{
          margin-left: 6px;
          color: color($colors, primary);
          font-weight: 700;
        }
      }
    }
  }
  .logout-button{
    display: flex;
    justify-content: center;
  }
}
