<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="grey-background">
  <ion-card id="account-card">
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border-bottom account-header">
          <ion-col col-3 class="align-center icon">
            <ion-icon class="user-icon" name="contact"></ion-icon>
          </ion-col>
          <ion-col col-9 class="user-info">
            <div *ngIf="user.email">
              <p>{{user.name}}</p>
              <p>{{user.email}}</p>
            </div>
            <div class="placeholders" *ngIf="!user.email">
              <div class="grey-box"></div>
              <div class="grey-box big"></div>
              <div class="grey-box"></div>
            </div>
            <!--<p class="account-level {{accountLevel}}">{{accountLevel}}</p>-->
          </ion-col>
        </ion-row>
        <!--<ion-row class="border-bottom" *ngIf="countdown.hours">-->
          <!--<ion-col class="countdown">-->
            <!--<p class="text">Early Supporter Offer expires in</p>-->
            <!--<div class="countdown-content">-->
              <!--<span class="timer">{{countdown.hours}} : {{countdown.minutes}} : {{countdown.seconds}}</span>-->
              <!--<button ion-button color="secondary" small (tap)="functions.countdownAlert()">Details</button>-->
            <!--</div>-->
          <!--</ion-col>-->
        <!--</ion-row>-->
        <ion-row>
          <ion-col>
            <h2>Bookings</h2>
          </ion-col>
        </ion-row>
        <ion-row class="booking-metrics">
          <ion-col col-6>
            <p class="title">Upcoming</p>
            <div class="metric">
              <ion-icon name="restaurant"></ion-icon>
              <p>{{bookingUpcoming.length}}</p>
            </div>
          </ion-col>
          <ion-col col-6>
            <p class="title">Completed</p>
            <div class="metric">
              <ion-icon name="time"></ion-icon>
              <p>{{bookingHistory.length}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <button ion-item (tap)="promptInvite()">
          <ion-icon name="people" item-start></ion-icon>
          Invite friends to Eatibl
        </button>
        <button *ngIf="user.active" ion-item (tap)="addPromoCodes()">
          <ion-icon name="pricetag" item-start></ion-icon>
          Apply promo code
        </button>
        <button *ngIf="user.active" ion-item (tap)="viewPromoCodes()">
          <ion-icon name="pricetags" item-start></ion-icon>
          View applied promo codes
        </button>
        <button *ngIf="user.active" ion-item (tap)="logout()">
          <ion-icon name="log-out" item-start></ion-icon>
          Logout
        </button>
        <button *ngIf="!user.active" ion-item (tap)="signUp()">
          <ion-icon name="exit" item-start></ion-icon>
          Sign Up
        </button>
        <button *ngIf="!user.active" ion-item (tap)="login()">
          <ion-icon name="log-in" item-start></ion-icon>
          Login
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
