page-account {
  ion-card{
    ion-card-content{
      padding: 0 !important;
      ion-grid{
        padding: 0 !important;
        ion-col{
          padding: 5px 12px !important;
        }
        ion-icon{
          margin: 6px 0;
          color: lighten(color($colors, dark), 30%);
          font-size: 80px;
        }
        h2{
          margin: 12px 0 !important;
          font-weight: 700 !important;
          text-align: center;
        }
        p{
          margin-bottom: 12px !important;
          text-align: center;
        }
      }
    }
  }
}
