<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="grey-background">
  <ion-card class="secure-prompt" *ngIf="user.email && user.active == 0">
    <ion-card-content>
      <p>Bookings made with <span class="bold">{{user.email}}</span> are unsecured. Click below to create your account and secure your bookings.</p>
      <button ion-button color="secondary" small (tap)="signUp()">Secure</button>
    </ion-card-content>
  </ion-card>
  <ion-card id="account-card">
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border-bottom account-header">
          <ion-col col-3 class="align-center icon">
            <ion-icon class="user-icon" name="contact"></ion-icon>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="user.email">
              <p>{{user.name}}</p>
              <p>{{user.email}}</p>
              <p>{{user.phone}}</p>
            </div>
            <div class="placeholders" *ngIf="!user.email">
              <div class="grey-box"></div>
              <div class="grey-box big"></div>
              <div class="grey-box"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Invites</h2>
          </ion-col>
        </ion-row>
        <ion-row class="booking-metrics border-bottom">
          <ion-col class="invites">
            <p>Share these exclusive deals with your friends!</p>
            <button ion-button color="secondary" (tap)="promptInvite()">Invite Friends</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Bookings</h2>
          </ion-col>
        </ion-row>
        <ion-row class="booking-metrics border-bottom">
          <ion-col col-6>
            <p class="title">Upcoming</p>
            <div class="metric">
              <ion-icon name="restaurant"></ion-icon>
              <p>{{bookingUpcoming.length}}</p>
            </div>
          </ion-col>
          <ion-col col-6>
            <p class="title">Completed</p>
            <div class="metric">
              <ion-icon name="time"></ion-icon>
              <p>{{bookingHistory.length}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="user.active">
          <ion-col>
            <h2>Promo Codes</h2>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="user.active" class="border-bottom">
          <ion-col>
            <div class="promocode-area">
              <ion-input [(ngModel)]="promoCode" name="promoCode" placeholder="Enter promo code" (ionChange)="clearError()"></ion-input>
              <button ion-button color="primary" small (tap)="submitCode()">Submit</button>
            </div>
            <span class="form-error" *ngIf="promoRes">{{promoRes}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="user.active" class="logout-button">
              <button ion-button color="danger" small (tap)="logout()">Log Out</button>
            </div>
            <div *ngIf="!user.active" class="button-row">
              <button ion-button color="primary" block (tap)="signUp()">Sign Up</button>
              <button ion-button color="secondary" block (tap)="login()">Log In</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
