<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <ion-item class="border-bottom">
      <ion-label fixed><ion-icon name="person" [ngClass]="{'invalid': !signupForm.controls.name.valid && (signupForm.controls.name.dirty || signupForm.controls.name.touched)}"></ion-icon></ion-label>
      <ion-input placeholder="Name" [formControl]="signupForm.controls['name']"></ion-input>
    </ion-item>
    <ion-item class="border-bottom">
      <ion-label fixed><ion-icon name="call" [ngClass]="{'invalid': !signupForm.controls.phone.valid && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched)}"></ion-icon></ion-label>
      <ion-input placeholder="Phone Number" type="tel" [formControl]="signupForm.controls['phone']"></ion-input>
    </ion-item>
    <ion-item class="border-bottom">
      <ion-label fixed><ion-icon name="mail" [ngClass]="{'invalid': !signupForm.controls.email.valid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)}"></ion-icon></ion-label>
      <ion-input placeholder="Email" [formControl]="signupForm.controls['email']" (blur)="cleanValue('email')"></ion-input>
    </ion-item>
    <ion-item class="border-bottom">
      <ion-label fixed><ion-icon [ngClass]="{'invalid': !signupForm.controls.password.valid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)}" name="lock"></ion-icon></ion-label>
      <ion-input class="light-placeholder" placeholder="Password" type="password" [formControl]="signupForm.controls['password']"></ion-input>
    </ion-item>
    <ion-item class="border-bottom">
      <ion-label fixed><ion-icon name="pricetag" [ngClass]="{'invalid': !signupForm.controls.promoCode.valid}" ></ion-icon></ion-label>
      <ion-input class="light-placeholder" placeholder="Promo Code (Optional)" type="text" [formControl]="signupForm.controls['promoCode']" (blur)="cleanValue('promoCode')"></ion-input>
    </ion-item>


    <div class="form-error" *ngIf="(signupForm.controls.name.hasError('required') && signupForm.controls.name.touched) || (signupForm.controls.phone.hasError('required') && signupForm.controls.phone.touched) || (signupForm.controls.email.hasError('required') && signupForm.controls.email.touched) || (signupForm.controls.password.hasError('required') && signupForm.controls.password.touched) && submitAttempt">
      <span>Please fill in all the fields.</span>
    </div>
    <div class="form-error" *ngIf="(signupForm.controls.email.hasError('email') && submitAttempt)">
      <span>Please enter a valid email.</span>
    </div>
    <div class="form-error" *ngIf="(signupForm.controls.password.hasError('minlength') && submitAttempt)">
      <span>Your password is too short.</span>
    </div>
    <div class="form-error" *ngIf="(!signupForm.controls.promoCode.valid)">
      <span>Invalid promo code.</span>
    </div>
    <button ion-button block color="secondary" type="submit">Confirm</button>
  </form>
  <div *ngIf="!intro" class="social-login">
    <div class="separator">
      <span class="line"></span>
      <span>OR</span>
      <span class="line"></span>
    </div>
    <button ion-button block color="facebook" icon-start (tap)="loginFacebook()"><ion-icon name="logo-facebook"></ion-icon>Sign Up with Facebook</button>
  </div>
  <p class="terms">By signing up, you agree to Eatibl's <span (tap)="openTermsModal()">Terms of Use and Privacy Policy.</span></p>
  <div class="no-account">
    <p>Already have an account?</p>
    <button ion-button color="primary" small (click)="login()">Log In</button>
  </div>
</ion-content>

