.restaurant-card{
  opacity: 0;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  position: relative;
  .no-padding{
    padding-bottom: 0 !important;
  }
  .top-of-card{
    position: relative;
  }
  .button-wrapper{
    padding: 0 !important;
    .item-inner{
      padding: 0 !important;
      .input-wrapper{
        .label{
          margin: 0 !important;
        }
      }
    }
    &:active{
      .featured-image:after {
        transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  .distance{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: rgba(34,34,34,0.7);
    p{
      color: #fff;
      font-size: 14px;
      margin: 0;
    }
  }
  .coming-soon{
    position: absolute;
    top: 45%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    padding: 8px;
    background-color: color($colors, primary);
    border-radius: 6px;
    p{
      color: #fff;
      margin: 0;
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
  }
  .best-deal{
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 64px;
    padding: 0;
    background-color: darken(color($colors, primary), 10%);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    .button-inner{
      flex-direction: column;
      .deal-header{
        width: 100%;
        padding: 3px 0;
        background-color: #fff;
      }
      .deal-details{
        padding: 0 12px 6px 12px;
      }
      p{
        margin: 0;
        color: #fff;
        &.discount{
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 2px;
        }
        &.title{
          font-size: 12px;
          font-weight: 700;
          color: darken(color($colors, primary), 10%);
        }
        &.time{
          line-height: 14px;
        }
      }
    }
  }
  &.navigating{
    .featured-image, ion-card-content{
      opacity: 0.7 !important;
    }
  }
  &.display{
    opacity: 1;
    transition: 0.5s ease opacity;
  }
  .featured-image{
    position:relative;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    &:after {
      transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0);
    }

  }
  .loading-overlay{
    position: absolute;
    z-index: 100000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .spinner-box{
      width: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: #fff;
    }
    &.timeslot{
      border: none;
      ion-spinner * {
        stroke: #fff;
        fill: transparent;
      }
    }
    &.card{
      background-color: rgba(255,255,255,0.2);
      ion-spinner * {
        stroke: color($colors, primary);
      }
    }
    ion-spinner * {
      width: 28px;
      height: 28px;
      fill: #fff;
    }
  }
  .main-image{
    width: 100%;
    height: 200px;
  }
}
.top-pick-card {
  margin-bottom: 0 !important;
  ion-row{
    padding: 0 !important;
  }
  .button-wrapper{
    position: relative;
    .featured-image {
      position: relative;
      height: 140px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #000;
      &:after {
        transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .distance{
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px 6px;
      border-radius: 3px;
      background-color: rgba(34,34,34,0.7);
      p{
        color: #fff;
        font-size: 14px;
        margin: 0;
      }
    }
    .title-box{
      h3{
        color: #fff;
        font-weight: 700;
      }
      position: absolute;
      bottom: 6px;
      width:95%;
      left:0;
      right:0;
      white-space: normal;
      margin-left:auto;
      margin-right:auto;
      padding: 3px 6px;
      border-radius: 3px;
      background-color: rgba(34,34,34,0.7);
    }
  }
  .best-deal{
    height: 100%;
    width: 100%;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    .deal-header{
      width: 100%;
      padding: 3px 0;
      background-color: #fff;
    }
    .deal-details{
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cta{
      border-top: 1px solid color($colors, light);
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color($colors, secondary);
      p{
        margin: 0;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
    .button-inner{
      flex-direction: column;
      p{
        margin: 0;
        color: #fff;
        &.discount{
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 2px;
        }
        &.title{
          font-size: 12px;
          font-weight: 700;
          color: darken(color($colors, primary), 10%);
        }
        &.time{
          line-height: 14px;
        }
      }
    }
  }
  .restaurant-name{
    text-align: left;
    padding:3px 6px;
    h3{
      font-weight: 700;
    }
    p{
      margin: 0;
    }
  }
}
