.restaurant-card{
  opacity: 0;
  transition: 0.5s ease opacity;
  &.display{
    opacity: 1;
    transition: 0.5s ease opacity;
  }
  .featured-image{
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
