.restaurant-card{
  opacity: 0;
  transition: 0.5s ease opacity;
  position: relative;
  &.navigating{
    .featured-image, ion-card-content{
      opacity: 0.7 !important;
    }
  }
  &.display{
    opacity: 1;
    transition: 0.5s ease opacity;
  }
  .featured-image{
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .loading-overlay{
    position: absolute;
    z-index: 100000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    &.timeslot{
      top: 10px;
      border: none;
      ion-spinner * {
        stroke: #fff;
        fill: transparent;
      }
    }
    &.card{
      top: 80px;
      background-color: #fff;
      ion-spinner * {
        stroke: color($colors, primary);
      }
    }
    ion-spinner * {
      width: 28px;
      height: 28px;
      fill: #fff;
    }
  }
}
