<!-- Generated template for the RestaurantComponent component -->
<div *ngIf="restaurant.needsHeader && index > 0" class="nearby-header resto-card">
  <div class="header-left">
    <span class="title">Restaurants near</span>
    <span class="location">{{locationText}}</span>
  </div>
  <button ion-button color="secondary" small (tap)="presentLocationModal()">Change</button>
</div>

<ion-card *ngIf="isLoaded && cardType == 'light'" class="restaurant-card" [ngClass]="{'display': isVisible == true}">
  <button class="button-wrapper" (tap)="navigateTo('restaurant-image')" ion-item detail-none>
    <ion-row>
      <ion-col col-4 class="resto-card-left">
        <div class="best-deal">Up to -{{restaurant.maxTimeslot.discount}}%</div>
        <div class="featured-image light" [style.background-image]="featuredImageUrl"></div>
      </ion-col>
      <ion-col col-8 class="resto-card-right">
        <div>
          <div class="resto-name-distance">
            <h2>{{restaurant.name}}</h2>
            <p class="resto-distance">{{distance}}</p>
          </div>
          <p class="tags"><span *ngFor="let category of restaurant?.categories; let i = index">{{category}}<span *ngIf="i < restaurant.categories.length - 1">, </span></span></p>
          <div class="rating-price">
            <p class="rating" *ngIf="restaurant.rating">
              <ion-icon name="{{ratingStars[0]}}"></ion-icon>
              <ion-icon name="{{ratingStars[1]}}"></ion-icon>
              <ion-icon name="{{ratingStars[2]}}"></ion-icon>
              <ion-icon name="{{ratingStars[3]}}"></ion-icon>
              <ion-icon name="{{ratingStars[4]}}"></ion-icon>
              <span *ngIf="restaurant.rating">{{restaurant.rating.ratingNumber}}</span>
            </p>
            <p class="rating" *ngIf="!restaurant.rating"><ion-icon name="star"></ion-icon>N/A</p>
            <div class="price" *ngIf="restaurant.price">
              <p>|</p>
              <p [ngClass]="restaurant.price >= 1 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant.price >= 2 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant.price >= 3 ? 'active' : ''">$</p>
              <p [ngClass]="restaurant.price == 4 ? 'active' : ''">$</p>
            </div>
          </div>
        </div>
        <div *ngIf="restaurant.vicinity" class="vicinity">
          <p>{{restaurant.vicinity}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="resto-card-bottom">
      <ion-col>
        <div class="bottom-wrapper">
          <div class="timeslot-button" *ngFor="let timeslot of timeslotButtons; let i=index">
            <div *ngIf="i < 3">
              <div *ngIf="timeslot" class="timeslot">
                <p [ngClass]="{'active' : activeTimeslot?._id == timeslot?._id}">{{functions.formatClockTime(timeslot.time, true)}}</p>
                <div class="discount-box" *ngIf="timeslot">

                  -{{timeslot?.discount}}%
                </div>
              </div>
              <div *ngIf="!timeslot" class="empty-timeslot"></div>
            </div>
          </div>
          <div class="more-button">
            <p>All Times</p>
            <div class="go-box">
              Go
              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </button>
</ion-card>
<ion-card *ngIf="index == countdownIndex && countdown.hours">
  <div class="countdown">
    <p class="text">Early Supporter Offer expires in</p>
    <div class="countdown-content">
      <span class="timer">{{countdown.hours}} : {{countdown.minutes}} : {{countdown.seconds}}</span>
      <button ion-button color="secondary" small (tap)="functions.countdownAlert()">Details</button>
    </div>
  </div>
</ion-card>
<div class="loading" *ngIf="!isLoaded">
  <ion-spinner></ion-spinner>
</div>
